/* Josh Johnson
   CSE 154
   Lab 1

   Styles for my about me page
*/

p {
	color: white;
	background-color: black;
	font-family: "Courier New";
}

h2 {
	color: white;
	background-color: black;
	font-family: "Tahoma"; 
}

body {
	background-color: gray;
}

a {
	text-decoration: none;

p:first-child:first-letter { 
	float: left;
	color: #903; 
	font-size: 75px; 
	line-height: 60px; 
	padding-top: 4px; 
	padding-right: 8px; 
	padding-left: 3px; 
	font-family: Georgia; 
}